body {
    background-color: #f8f9fa;
  }
  
  header {
    background-color: #007bff;
    color: white;
  }
  h2 {
    margin: 5px 0; /* Adjust as needed */
    padding: 20; /* Adjust as needed */
  }
  footer {
    background-color: #343a40;
    color: white;
  }

  .navbar {
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    transition: background-color 0.3s;
  }

  .gradient-box {
    background: linear-gradient(135deg, #6e8efb, #d8546a);
    border-radius: 15px; /* Rounded edges */
    padding: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Shadow for hovering effect */
    display: block; /* Allows the box to fit the content size */
    margin: 10px 0; /* Spacing around the box */
    margin-left: auto;
    margin-right: auto;
    width: 90%; /* This makes the width of the box just enough to fit its content */
  }
  
  .gradient-box h1 {
    color: #fff; /* Adjust text color if needed */
    margin: 0; /* Removes default margin */
    text-align: center; /* Centers the text horizontally */
  }
  .gradient-box p {
    color : #fff;
    text-align: center;
  }
  .card {
    cursor: pointer;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
  }
  .card.card-body {
    margin: 0 !important;
  }
  .centered-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px !important; 
    background-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0056b3; /* Slightly darker shade for hover effect */
    border-color: #0056b3;
  }
  .modal-header-custom {
    text-align: center;
    background-color: #d8d8d6;
  }
  .card-text {
    text-align: justify;
  }
  .centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px; 
  }
  .card-title {
    color: #273e59;
    text-align: center;
  }
  .product-logo {
    display: block;
    margin: 0 auto;
    max-width: 50%; /* Ensures the image is responsive and fits the container */
    height: auto; /* Maintains the aspect ratio */
  }
  
  .product-gif {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
  }
  @media (min-width: 768px) { /* Adjust for larger screens */
    .product-logo, .product-gif {
      margin-bottom: 20px; /* Spacing */
    }
  }
  .title-image {
    display: block;
    max-width: 100%; /* Ensures the image doesn't exceed the card's width */
    height: auto; /* Maintains aspect ratio */
    margin: 0 auto; /* Centers the image */
  }
  .card-body h3, .card-body h4 {
    color: #273e59; /* Adjust color to match your design */
  }
  
  .card-body ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* Ensure that the content is well spaced and readable */
  .card-body p, .card-body ul {
    text-align: justify;
    margin-bottom: 0px;
  }
  .collapse {
    transition: max-height 0.5s ease;
  }
  .contact-us-section {
    margin-bottom: 50px; /* Adjust as needed */
  }
  section {
    padding-top: 0px; /* Reduced padding at the top of each section */
    padding-bottom: 0px; /* Reduced padding at the bottom of each section */
  }
  .container {
    padding: 0; /* Remove padding if not needed */
    margin-bottom: 0px; /* Adjust as needed */
  }
  